/*  CSS Overrides */

/*Get rid of space above header*/
div#page {
    margin: 0 auto 0;
}

/*Make top blue area shorter*/
div#pre-header {
    min-height: 24px;
    margin: 0 0 10px -40px;
}


/* Fix ugly login form in landing page */

div#block-user-login {
    float: right;
    position: absolute;
    top: 0;
    right: 0;
}

div#block-user-login h2, div#block-user-login li.first{
    display: none;
}

div#block-user-login div.form-item-name, #block-user-login div.form-item-pass {
    float: left;
    margin: 2.5em 1em 0 0;
}

div#block-user-login li.last{
    clear: left;
}

div#block-user-login label {
    font-size: 12px;
    line-height: 0.5;
}

div#block-user-login input.form-text{
    height: .5em;
}

div#block-user-login input#edit-submit {
    float: right;
    margin: 0 .8em 0 0;
    padding: 6px 14px;
}

div#block-user-login li.last {
    float: left;
    margin: .8em 0 0 0;
    list-style: none;
    font-size: 12px;
    line-height: 0.5;
}

/*Hide mobile login button by default*/
a.login-button {
    text-align: center;
    display: none;
    padding: 4px 0;
}

.site-button {
    text-align: center;
    padding: 4px 6px;
    text-transform: uppercase;
}

/*Hide "create new account" tab in login forms*/
ul.tabs li a[href="/user/register"] {
    display: none;
}

/*Fix menu crashing into shorter pre-header*/
#main-navigation ul.menu li a{
    padding: 27px 12px 50px 12px;
    margin: 20px 0 10px 0;
}

/*Mobile menu*/
.front #banner {
    padding-top: 44px;
}

/* User Profile Edit Form ____________________________________*/

/* Hide edit timezon field now that timezone module
should set it automatically on first login */
fieldset#edit-timezone {
    display: none;
}

/*-------------------------------------------*/
/* #Tablet (Portrait)*/
/*-------------------------------------------*/
@media only screen and (min-width: 768px) and (max-width: 1020px) {
    
    /*Make top blue area shorter*/
    div#pre-header {
        min-height: 24px;
        margin: 0 0 10px -20px;
    }
}


@media only screen and (min-width: 480px) and (max-width: 767px) {
    
    /*Make top blue area shorter*/
    div#pre-header {
        min-height: 24px;
        margin: 0 0 10px -20px;
    }
    
    div#block-user-login {
        float: left;
        position: absolute;
        top: 6.7em;
        left: 21px;
    }
    
    div#block-user-login label {
        font-size: 11px;
        line-height: 0.3;
    }
    
    div#block-user-login li.last {
        font-size: 11px;
        margin: .5em 0 0 0;
    }
    
    div#block-user-login input#edit-submit {
        margin: 0 .7em 0 0;
        padding: 5px 12px;
        position: absolute;
        top: 5.8em;
    }

}

/*-------------------------------------------*/
/* #MOBILE 320px (Portrait)*/
/*-------------------------------------------*/
@media only screen and (max-width: 480px) , screen and (max-device-width: 480px) {
    div#block-user-login {
        display: none;
    }
    
    /*Show mobile login button*/
    a.login-button {
        display: block;
    }
    
    /*Make top blue area shorter*/
    div#pre-header {
        height: auto;
        margin: 0 0 10px -20px;
    }
    
    /*reduce space for logo area*/
    div#header {
        padding: 0px 0 43px 0;
        height: 110px;
    }
    
    /*Make login page tabs narrower*/
    ul.primary li {
        margin: -2px;
    }

}